{% extends "base.html" %}
{% block body %} 

<div class="container my-3">
    <h1>MyTodo App</h1>
    
    <div class="container my-3">
          <div class="content-holder my-3 mx-5">
              <h3>Explore MyTodo with Us!</h3> <br>
              
              <a class="btn btn-primary my-1" href="/login">Sign-In in your Account</a> <br>
              <a class="btn btn-secondary my-1" href="/register">Sign-Up a new Account</a>
          
          </div>

    </div>
    
</div>



{% endblock body %}