{% extends "base.html" %}
{% block body %} 

<div class="container my-3">
    <h2>Register to MyTodo App</h2>
    <div class="signup-form-container my-5 mx-5">
          <h3>Sign Up Form</h3>
          <form method == 'POST'>
                <input type="text" placeholder="Username" class="input-field">
                <br><br>
                <input type="email" placeholder="Email" class="input-field">
                <br><br>
                <input type="password" placeholder="Password" class="input-field">
                <br><br>
                <button class="signup-button" type="submit" value="Register">Register</button>
          </form>
    </div>
</div>



{% endblock body %}